@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

:root{
    --text-color: #ebd5b0;
    --backgroundB: #1d130a;
    --backgroundW: #faf5f0;
    --family: 'Montserrat', sans-serif;
    --backgroundB2: #956841;

}
body{
    font-family: var(--family);
    background-color: var(--backgroundW);
}

.list1{
    z-index: 6;
    background-color: var(--backgroundB);
    font-weight: 600;
    font-family: var(--family);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.mobile-menu{
  display: none;
}

.curved2{
  display: none;
}

.logo{
    z-index: 4;
    position: relative;
    top: 50px;
    z-index: 50;
    width: 220px;
}



.list1 li{
    color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
}
.curved{
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    top: -30px;
}

.container{
    display: none;
}

.link-underline {
    border-radius: 28px;
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(var(--text-color), var(--text-color));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}



.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.backgroundImg{
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    object-fit: cover;
    position: relative;
    top: -80px;
    
}

.brush{
  height: 190px;
  position: absolute;
  object-fit: cover;
  z-index: 2;
  top:516px;
  right: 4px;
  transform: rotate(3deg);
  align-items: center;
  display:inline-block;
  align-content: middle;
  
}
.brush2{
  width: 1300px;
  position: absolute;
  object-fit: cover;
  z-index: 2;
  padding-top: 170px;
  padding-right: 0;
  align-items: center;
  display:inline-block;
  align-content: middle;

}

.not{
  display: none;
}

.center2{
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cover{
    white-space: nowrap;
    filter: brightness(60%);
    object-fit:cover;
    width: 100%;
    height: 500px;
    
}


.text1{
    font-weight: 600;
    font-size: 44px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 22px;
    border-bottom-right-radius: 0px;
    background-color: var(--text-color);
    z-index: 6;
    color: var(--backgroundB);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -340px;
    left: 100px;
}
.text2{
    font-weight: 600;
    font-size: 44px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 22px;
    border-top-left-radius: 0px;
    margin-top: 132px;
    background-color: var(--text-color);
    z-index: 6;
    color: var(--backgroundB);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -340px;
    left: -120px;
}

.centered{
  max-width: 1600px;
  margin: auto;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.boldHead{
  position: relative;
    font-weight: 800;
    font-size: 44px;
    color: var(--backgroundW);
    text-align: center;
    z-index: 6;
}

.idk{
  display: flex;
  justify-content: center;

}

.frame{
  display: flex;
  width: 460px;
  position: relative;
  top: 110px;
}
.mediumHeadL{
    font-weight: 600;
    font-size: 24px;
    color: var(--backgroundB);
    text-align: left;
}
.lightHeadL{
    font-weight: 400;
    font-size: 16px;
    color: var(--backgroundB);
    text-align: left;
    padding-top: 10px;
}
.center{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    padding-bottom: 250px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
}
.grid-item {
    border-radius: 22px;
    background-color: var(--text-color);
    display: flex;

}
.grid-item img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
.text-content {
    padding-right: 20px;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgicon {
    border-radius: 22px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    width: 250px;
}

.container2 {
    margin: 0;
    display:flex;
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
    
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonial-content {
    
    background-color: var(--backgroundB);
    height: 300px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    border-radius: 22px;
    padding-bottom: 40px;
  }
  
.framecenter{
  display:flex;
  align-items:center;
  justify-content:center;
}

  .frame2{
    display: flex;
    width: 460px;
    align-content: center;
    position: relative;
    z-index: 2;
    top: -34px;
  }

  .quote{
    width: 36px;
    padding-bottom: 20px;
  }

  .pfp {
    margin-bottom: 20px;
    margin-right: 1rem;
    border-radius: 50%;
    width: 2.5rem;
  }
  
  .mediumtxt {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .testimonial-text {
    position: relative;
    color: var(--backgroundW);
    flex-grow: 1;
    font-size: 1rem;
    line-height: 1.25rem;
    z-index: 6;
  }


  .swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--backgroundB);
  }
  
  .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--text-color);
  }

  .lightxt {
    font-weight: 400;
    font-size: 40px;
    color: var(--backgroundB);
    text-align: center;
  }

  .icon{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
  }

  .effect {
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.effect:hover {
    transform: scale(1.3);
    color: var(--backgroundW);
    font-size: 50px;
}

  .boldtxt{
    font-weight: 800;
    font-size: 40px;
    color: var(--backgroundB);
    text-align: center;
  }


  
  .container3{
    margin: auto;
    max-width: 1600px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 100px;
}

.contact-info {

    height: 400px;
    background-color: var(--text-color);
    padding: 24px;
    border-radius: 22px;
    text-align: center;
    display: block;
    justify-items: center;
    
}


.socials {
  padding-bottom: 250px;
  display: flex;
  justify-content: center;
}

.icn{
  transition: transform 0.5s ease-in-out,scale 0.5s ease-in-out;
  width: 120px;
  padding: 14px;
}

.icn:hover{
  transform: scale(1.3);
}


.footer {
  
  background-color: var(--backgroundB);
  color: var(--backgroundW);
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.tot{
  
  display: flex;
  justify-content: center;
  align-content: center;
}

.mediumtxtfoot{
  font-weight: 800;
  padding-bottom: 10px;
  font-size: 26px;
}


.anim:hover{
  color: var(--text-color);
}
.anim{
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.light{
  font-weight: 400;
  font-size: 20px;
  color: var(--backgroundW);
}

.footer-left, .footer-right {
  flex-basis: 50%;
}

.footer-right{
  padding-left: 600px;
}

.effect2 {
  transition: transform 0.2s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.effect2:hover{
  transform: scale(1.3);
  color: var(--text-color);
  font-size: 20px;
}

.flip {
  transform: rotate(180deg);
  position: relative;
  top: 4px;
}

.curved3{
  display: none;
}


.despre {
  left: 30px;
}


  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 300px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    gap: 90px;
  }
  
.mapa{
  border-radius: 22px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 1200px;
  margin: auto;
  margin-bottom: 300px;

}

.mapatxt{
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  background-color: var(--backgroundB);
  margin: auto;
  width: 1200px;
  color: var(--backgroundW);
}
.mapacont{
  margin: auto;
}

  .text {
    flex: 1;
  }
  
  .text h1 {
    margin-bottom: 60px;
    text-align: left;
  }
  
  .text p {
    font-weight: 400;
    font-size: 20px;
    color: var(--backgroundB);
    text-align: left;
    color: var(--backgroundB);
    
  }
  
  .image {
    flex: 1;
    max-width: 100%;
    height: auto;
  }
  .menu-container {
    max-width: 1080px;
    margin: auto;
  }

  /* Category */
  .category-list {
    align-items: center;
    padding-top: 12px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 1070px;
    margin: auto;
    margin-bottom: 40px;
  }

  .category-item {
    border-radius: 22px;
    background-color: var(--backgroundB);
    color: var(--backgroundW);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .category-item:hover, .category-item.active {
    background-color: var(--backgroundW);
    color: var(--backgroundB);
  }

  /* griddd */
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    gap: 20px;
  }

  .menu-item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    border-radius: 22px;
    padding: 20px;
    text-align: center;
  }

  .menu-item img {
    width: 160px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .menu-item h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--backgroundB);
    margin-bottom: 10px;
  }

  .menu-item p {
    font-size: 14px;
    color: var(--backgroundB);
    margin-bottom: 10px;
  }

  .menu-item span {

    font-weight: bold;
    color: #956841;
    margin-top: auto;
  }
  

@media only screen and (max-width: 768px) {
  /*category mobile */
  .category-list {
    align-items: center;
    padding-top: 12px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 360px;
    margin: auto;
    margin-bottom: 40px;
  }
  .menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 170px));
    margin: auto;
    gap: 10px;
    padding: 0px 20px 0px 20px;
  }


    .divider{
      display: flex;
      padding: 10px 0px 14px 0px;
    }
    .aligner{
      padding-top: 10px;
    }

    .list1{
      display: none;
    }
    .mobile-menu{
        background-color: var(--backgroundB);
        top: -10px;
        align-items: center;
        justify-content: center;
        display: block;
        position: relative;
        text-align: center;
        padding: 24px 0px 24px 0px;
        display: none;
        z-index: 6;

    }
    .logomobile{
      position: relative;
      object-fit: cover;
      left: 140px;
      padding-right: 13px;
      width: 160px;
      display: flex ;  
      justify-content: right;

    }

    .logo{
        display: none;
    }


    .mobile-menu li{
      color: var(--text-color);
      padding: 15px 0px 15px 0px;
      font-weight: 800;
  }

    .curved {display: none;}
    .curved2{
      justify-content: center;
      display: flex;
      position: relative;
      width: 100%;
      top: -12px;
      z-index: 6;

}

.curved3{
  justify-content: center;
  display: flex;
  position: relative;
  width: 100%;
  top: -20px;
  z-index: 6;
}



.line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
}


.container {
    padding-left: 26px;
    background-color: var(--backgroundB);
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 6;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 22px;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .footer-left, .footer-right {
    flex-basis: 100%;
}


.text1{
  font-weight: 600;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 22px;
  border-bottom-right-radius: 0px;
  background-color: var(--text-color);
  color: var(--backgroundB);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  top: -340px;
  left: 30px;
}
.text2{
  font-weight: 600;
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 22px;
  border-top-left-radius: 0px;
  margin-top: 118px;
  background-color: var(--text-color);
  color: var(--backgroundB);
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  top: -364px;
  left: -146px;
}

.centered{

  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.holder{
  position: relative;
  z-index: 2;
}

.center{
  padding-top: 20px;
  display: flex;

}
.grid-container {
  padding-bottom: 250px;
  display: block;
  align-items: center;
  justify-items: center;
}
.grid-item {
  width: 350px;
  height: 160px;
  margin: 30px 20px 30px 20px;
  border-radius: 22px;
  background-color: var(--text-color);
  display: flex;

}
.lightHeadL{
  font-size: 10px;
}

.grid-item img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}
.text-content {
  padding-right: 20px;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgicon {
  border-radius: 22px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: cover;
  width: 160px;
}



  
.container3{
  text-align: center;
  display: block;
  padding: 20px;
}

.contact-info {
  margin-top: 40px;
  height: 400px;
  background-color: var(--text-color);
  border-radius: 22px;
  text-align: center;
  display: block;
  justify-items: center;
  
}
.footer-left {
  background-color: var(--backgroundB);
  color: var(--backgroundW);
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-left ul, .footer-right ul {
  list-style-type: none;
  padding: 0;
  }
  .footer-right{
    display: none;
  }



  .brush{
    height: 200px;
    position: absolute;
    object-fit: cover;
    z-index: 2;
    top:320px;
    transform: rotate(0deg);
    align-items: center;
    display:inline-block;
    align-content: middle;
  }
  .brush2{
    transform: scale(1.2);
    width: 800px;
    height: 600px;
    position: absolute;
    object-fit: cover;
    z-index: 2;
    padding-top: 138px;
    display:block;
    margin: 0;
  
  }

  .idk{
    display: flex;
    justify-content: center;
  
  }
  
  .frame{
    display: flex;
    width: 260px;
    position: relative;
    top: 60px;
  }

  .boldHead{
    font-size: 24px;
  }

  .lightxt{
    font-size: 30px;
  }
.mediumHeadL{
  font-size: 16px;
}
  .boldtxt{
    font-size: 26px;
  }

  .effect {
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.effect:hover {
    transform: scale(1.3);
    color: var(--backgroundW);
    font-size: 36px;
}
.despre {
  left: -10px;
}

.content {
  flex-direction: column;
}

.text, .image {
  width: 100%;

}

.mapa{
  border-radius: 22px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 300px;
  margin: auto;
  margin-bottom: 300px;

}

.mapatxt{
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  background-color: var(--backgroundB);
  margin: auto;
  width: 300px;
  color: var(--backgroundW);
}
}



