@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

:root{
    --text-color: #ebd5b0;
    --backgroundB: #1d130a;
    --backgroundW: #faf5f0;
    --family: 'Montserrat', sans-serif;
    --backgroundB2: #956841;

}
body{
    font-family: var(--family);
    background-color: var(--backgroundW);
}

.list1{
    z-index: 6;
    background-color: var(--backgroundB);
    font-weight: 600;
    font-family: var(--family);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.logo{
    z-index: 4;
    position: relative;
    top: 50px;
    z-index: 50;
    width: 220px;
}



.list1 li{
    color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
}
.curved{
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    top: -30px;
}

.container{
    display: none;
}

.link-underline {
    border-radius: 24px;
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(var(--text-color), var(--text-color));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}





.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.backgroundImg{
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    object-fit: contain;
    position: relative;
    top: -80px;
}

.cover{
    white-space: nowrap;
    filter: brightness(60%);
    object-fit:cover;
    height: 500px;
    width: 100%;
}


.text1{
    font-weight: 600;
    font-size: 44px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    background-color: var(--text-color);
    z-index: 6;
    color: var(--backgroundB);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -340px;
    left: 100px;
}
.text2{
    font-weight: 600;
    font-size: 44px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 132px;
    background-color: var(--text-color);
    z-index: 6;
    color: var(--backgroundB);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -340px;
    left: -120px;
}

.centered{

    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.boldHead{
    font-weight: 600;
    font-size: 44px;
    color: var(--backgroundB);
    text-align: center;
}
.mediumHeadL{
    font-weight: 600;
    font-size: 24px;
    color: var(--backgroundB);
    text-align: left;
}
.lightHeadL{
    font-weight: 400;
    font-size: 16px;
    color: var(--backgroundB);
    text-align: left;
    padding-top: 10px;
}
.center{
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    padding-bottom: 250px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
}
.grid-item {
    border-radius: 10px;
    background-color: var(--text-color);
    display: flex;

}
.grid-item img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
.text-content {
    padding-right: 20px;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgicon {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    width: 250px;
}

.container2 {
    margin: 0;
    max-width: 1600px;
    display:flex;
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    flex-wrap: wrap;
    
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonial-content {
    height: 300px;
    background-color: var(--backgroundB);
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 40px;
  }
  
  .quote{
    width: 36px;
    padding-bottom: 20px;
  }

  .pfp {
    margin-bottom: 20px;
    margin-right: 1rem;
    border-radius: 50%;
    width: 2.5rem;
  }
  
  .mediumtxt {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .testimonial-text {
    color: var(--backgroundW);
    flex-grow: 1;
    font-size: 1rem;
    line-height: 1.25rem;
  }


  .swiper .swiper-pagination .swiper-pagination-bullet {
    background-color: var(--backgroundW);
  }
  
  .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--text-color);
  }

  .lightxt {
    font-weight: 400;
    font-size: 40px;
    color: var(--backgroundB);
    text-align: center;
  }

  .icon{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
  }

  .effect {
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.effect:hover {
    transform: scale(1.3);
    color: var(--backgroundW);
    font-size: 50px;
}

  .boldtxt{
    font-weight: 800;
    font-size: 40px;
    color: var(--backgroundB);
    text-align: center;
  }


  
  .container3{
    max-width: 1600px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 100px;
}

.contact-info {

    height: 400px;
    background-color: var(--text-color);
    padding: 24px;
    border-radius: 10px;
    text-align: center;
    display: block;
    justify-items: center;
    
}


.socials {
  padding-bottom: 250px;
  display: flex;
  justify-content: center;
}

.icn{
  transition: transform 0.5s ease-in-out,scale 0.5s ease-in-out;
  width: 120px;
  padding: 14px;
}

.icn:hover{
  transform: scale(1.3);
}


.footer {
  background-color: var(--backgroundB);
  color: var(--backgroundW);
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1600px;
}

.tot{
  display: flex;
  justify-content: center;
  align-content: center;
}

.mediumtxtfoot{
  font-weight: 800;
  padding-bottom: 10px;
  font-size: 26px;
}


.anim:hover{
  color: var(--text-color);
}
.anim{
  transition: transform 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.light{
  font-weight: 400;
  font-size: 20px;
  color: var(--backgroundW);
}

.footer-left, .footer-right {
  flex-basis: 50%;
}

.footer-right{
  padding-left: 600px;
}

.effect2 {
  transition: transform 0.2s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

.effect2:hover{
  transform: scale(1.3);
  color: var(--text-color);
  font-size: 20px;
}

.flip {
  transform: rotate(180deg);
  top: 20px;
}


@media  screen and (max-width: 600px){
    

    .list1{
      display: none;
    }
    .mobile-menu{
        align-items: center;
        justify-content: center;
        display: block;
        position: relative;
        padding-bottom: 50px;
        padding-top: 35px;
    }

    .logo{
        display: none;
    }

    .list1 li{
        padding-top: 15px;
        text-align: center;
    }

    .curved{
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    top: 0px;

}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
}


.container {
    padding-left: 24px;
    background-color: var(--backgroundB);
    display: inline-block;
    cursor: pointer;

  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 25px;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .footer-left, .footer-right {
    flex-basis: 100%;
}
}

.footer-left ul, .footer-right ul {
list-style-type: none;
padding: 0;
}

.footer-left li, .footer-right li {
margin-bottom: 10px;

}