@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

:root{
    --text-color: #ebd5b0;
    --backgroundB: #1d130a;
    --backgroundW: #faf5f0;
    --family: 'Montserrat', sans-serif;

}


.list1{
    z-index: 6;
    background-color: var(--backgroundB);
    font-weight: 600;
    font-family: var(--family);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.logo{
    z-index: 4;
    position: relative;
    top: 50px;
    z-index: 50;
    width: 220px;
}



.list1 li{
    color: var(--text-color);
    padding-left: 15px;
    padding-right: 15px;
}
.curved{
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    top: -30px;
}

.container{
    display: none;
}

.link-underline {
    border-radius: 24px;
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(var(--text-color), var(--text-color));
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}


.backgroundImg{
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    object-fit: contain;
    position: relative;
    top: -80px;
}
.cover{
    filter: brightness(60%);
    object-fit:cover;
    height: 500px;
    width: 100%;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

.texts{
    z-index: 6;
    color: var(--text-color);
    font-family: var(--family);
    white-space: nowrap;
    right:1000px;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    top: -300px;
    left: 100px;
}

.centered{

    display: flex;
    justify-content:flex-start;
    align-items: center;
}

@media  screen and (max-width: 600px){
    
    .list1{
        align-items: center;
        justify-content: center;
        display: block;
        position: relative;
        padding-bottom: 50px;
        padding-top: 35px;
    }

    .logo{
        display: none;
    }

    .list1 li{
        padding-top: 15px;
        text-align: center;
    }

    .curved{
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
    top: 0px;

}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
}


.container {
    padding-left: 24px;
    background-color: var(--backgroundB);
    display: inline-block;
    cursor: pointer;

  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 25px;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}